/backend/vendor
/frontend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/composer.lock
/backend/storage/*.key
/storage/pail
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
bootstrap/ssr
Homestead.json
Homestead.yaml
/auth.json
/.fleet
/.idea
/.nova
!/.vscode
/.zed
/.vercel
!/.github
/frontend/dist/
dist/
frontend/bun.lock
node_modules/
bun.lock
/frontend/src/ziggy.js
/tools/
/others/
/packages/
.env.docker
.env.local
.env.pg.local
.env.users
.env.production.local
